/*SPLASH PAGE*/

html, body {
  height: 100%;
  position: relative;
  background: url(images/stars.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

::-webkit-scrollbar {
    display: none;
}

#splash {
  height: 100%
}

#splashtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splashtitle p {
  color: white;
  font-size: 5em;
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 35px;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
}

#footer a img {
  height: 35px;
  padding: 0px 10px;
}

#portrait {
  max-height: 50px;
  border-radius: 50%;
}

/*TOOLTIP*/

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #7B2CBF;
  background: #FFFFFF;
  height: 55px;
  line-height: 55px;
  text-align: center;
  visibility: hidden;
  border-radius: 11px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  width: 0; height: 0;
  border-top: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  bottom: 45px;
  left: 50%;
  margin-left: -72px;
  z-index: 999;
}

/*ABOUT*/

#about {
  height: 100%;
  background-color: #535a9e;
}

#about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-content p {
  color: white;
}

#top {
  display: block;
  margin: auto;
  padding-top: 20px;
  cursor: pointer;

}

#portrait-large {
  max-height: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
  padding-bottom: 50px;
}
