html, body {

  height: 100%;
  width: 100%;
  margin: 0;

}

/*Splash section*/
#splash-background {

  background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/molecule.jpg), repeat; /*Transparent overlay over background image*/
  background-position-x: -200px;

}

#splash-title {

  color: white;
  padding-top: 150px;

}

#splash-separator {

    display: flex;
    align-items: center;
    color: white;

}


#splash p {

  color: white;
  font-size: 2em;
  padding: 50px 0px 150px 0px;

}

/*Navbar*/
#navbar {

  background: transparent;

}

#navbar a {

  color: white;
  font-size: 1.1em;

}

#navbar a:hover {

  color: #d6d6d6;

}

#vcs-logo {

  height: 50px;

}

.custom-toggler.navbar-toggler {

    border-color: rgb(255,255,255);

}

.custom-toggler .navbar-toggler-icon {

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

/*Ruler for separation*/
  hr.separator {

	border-top: 1px solid #8c8b8b;
  width: 400px;
	text-align: center;

}

  hr.separator:after {

	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #ffffff;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);

}

/*Capabilities section*/
#capabilities-header {

  font-size: 2em;
  padding: 50px 0px 35px 0px;


}

#capabilities-info {

  padding: 20px 0px 100px 0px;

}

/*Markets section*/
#markets {

  background-color: #393939;
  color: white;
  padding: 100px 0px 100px 0px;
}

#markets-header {

  width: 80%;
  margin: 0 auto;

}

#markets-header p {

  font-size: 2em;
  text-align: center;
  padding: 0px 0px 50px 0px;

}

#myCarousel {

  height: 500px;

}

.carousel-item, .active, .carousel-inner {

  height: 100%;

}

.carousel-caption {

  height: 100%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

/* Background images are set within the HTML using inline CSS, not here */
.fill {

    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*Loations section*/
#locations-header {

  font-size: 2em;
  padding: 50px 0px 35px 0px;


}

#locations-row {

  padding: 20px 0px 50px 0px;

}

#locations-row img {

  max-height: 300px;
  display:block;
  margin:auto;
  padding-bottom: 15px;

}

/*Philosophy section*/
#phil-header {

  font-size: 2em;
  padding: 50px 0px 35px 0px;


}

#phil-info {

  padding: 20px 0px 50px 0px;

}

/*Certs section*/

#certs-row {

  padding: 20px 0px 50px 0px;

}

#certs-row img {

  max-height: 200px;
  display:block;
  margin:auto;
  padding-bottom: 15px;

}

/*Orgs section*/

#orgs-row {

  padding: 20px 0px 50px 0px;

}

#orgs-row img {

  max-height: 100px;
  display:block;
  margin:auto;
  padding-bottom: 15px;

}

/*About section*/
#about-row img {

  max-height: 90px;
  display:block;
  margin:auto;
  padding-bottom: 15px;

}

#about {

  padding: 50px 0px 50px 0px;

}
